<template>
<div id="aboutPage">
<h1 class="subtitle">
  Acerca del sitio
</h1>

<div class="content">
  <div class="divideVert">
    <div class="aboutBox">
      <div class="aboutPhotoContainer">
        <img src="img/mostacho.png" alt="no se encontró!" class="aboutPhoto" />
      </div>
      Estudio ingeniería en computación.
      <br />
      Me gusta cocinar y leer.
      <br />
      A veces programo cosas.
    </div>

    <div id="aboutBoxRight">
      Me aburrí tanto en la cuarentena que hice un blog.
    </div>
  </div>
  <div id="saySomethingFormContainer">
    <form role="form">
      <input type="text" id="saySomething" name="message" />
      <button type="submit" id="sendButton">
        Dime algo
      </button>
    </form>
  </div>

</div>
</div>
</template>

<script>
export default {
  name: 'About',
};
</script>

<style>
#saySomethingFormContainer{
    padding-left: 70px;

}

p{
    font-family: Radley;
}

blockquote{
    font-family: Radley;
}

#sendButton{
    background: #EFA800;
    font-family: Radley;
    color: #000000;
    font-size: 25px;
    border: 2px;
    border-style: solid;
    display: inline-block;
}

#sendButton:hover{
    border-style: dotted;
}

input[type=text]{
    height: 100px;
    width: 400px;
    border: none;
    background-color: #ECECEC;
}

input[type=text]:focus{
    background-color: #E0E0E0;
}

#quoteContainer{
    background-color: #91FFB9;
    margin: 30px;
    padding: inherit;
}

.divideVert{
    display: flex;
}

.aboutBox{
    width: 600px;
    padding: 30px;
    text-align: left;
    border: solid;

}

#aboutBoxRight{
    padding: 40px;
    width: 50%;
    font-family: Circular;
    font-size: 40px;
}

.aboutPhoto{
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.aboutPhotoContainer{
    padding: 20px;
    /* background-image: url('../img/plantas.jpg'); */
    display: block;
    margin: auto;
}

</style>
