<template>
<div id="blogPage">
<h1 class="subtitle">
  Blog
</h1>
<Post v-for="(post,index) in posts" :key="index" :post="post"></Post>
</div>
</template>

<script>

import Post from './Post.vue';
import actions from '../lib/actions';

export default {
  name: 'Blog',
  data() {
    return {
      posts: {},
    };
  },
  components: {
    Post,
  },

  created() {
    actions.getBlogPosts().then((res) => {
      this.posts = res.data;
    });
  },
};
</script>

<style>
.divider{
    width: 200px;
    height: 7px;
    background-color:#00a96b;
    margin-top: 70px;
}

</style>
