<template>
    <div class="commentSection" id="commentSectionContainer">
        <form role="form">
            <div class="vert-left-align">
              <input type="text" class="commentInput" name="commentInput" />
              <button type="submit" id="postComment">
                Comentar
              </button>
            </div>
        </form>
    </div>

</template>

<script>
export default{
    name: 'CommentSection',
    props: ['comments']
}
</script>
