<div class="content">
  {{#each posts}}
    <div class="divider"></div>
    <a href="/blog/posts/{{slug}}">
      <h2>
        {{title}}
      </h2>
    </a>
    <i>
      {{date}}
    </i>
    <hr />

    <p>
      {{{body}}}
    </p>
    <div class="commentBar">
        0 comentarios | 200 visitas
    </div>
  {{/each}}
</div>
