<template>
<a href="/">
        <header id="main-header">
             Carlos Carral.
        </header>
</a>
</template>
<style>

#main-header{
    padding-left: 10px;
    padding-right:10px;
    letter-spacing: 2px;
    margin: 20px;
    border-width: 5px;
    border-style:solid;
    border-color: #000000;
    text-align: left;
    background: #00a96b;
    color: #000000;
    font-size: 50px;
    font-family: Circular;
    font-style:bold;
    height: auto;
    width: max-content;
    text-rendering: optimizeLegibility;
}

#main-header:hover{

    background: #000000;
    color: #FFFFFF;
    background-size:auto;
    background-size: 600px auto;
    background-position: left bottom;
    font-family: Circular;
}

</style>
