<template>
<div class="musicPage">
<h1 class="subtitle">Música</h1>
    <div class = "musicListContainer">
        <a href="https://open.spotify.com/playlist/3RjHBD69THydLiYqlCPVFm?si=jObJIOFaThmfwPCd-9b4qQ" target="_blank"><h1 class="subtitle" id="spotify">Spotify</h1></a>
    <ul class="musicList">
       <Track v-for="element in musicList" :key="musicList.indexOf(element)" :element="element"/>
    </ul>
    </div>
</div>
</template>
<script>
import Track from './Track.vue';
import actions from '../lib/actions';

export default {
  name: 'Music',
  data() {
    return {
      musicList: {},
    };
  },
  components: {
    Track,
  },

  created() {
    actions.getSpotifyTracks().then((res) => {
      this.musicList = res.data;
    });
  },
};
</script>
