<template>
        <div class="link-list-frame">

            <ul class="link-list">
            <NavigationBarElement v-for="element in navigationBarElements"
            :key="navigationBarElements.indexOf(element)"
            :element="element"/>
            </ul>

        </div>

</template>

<script>
import NavigationBarElement from './NavigationBarElement.vue';
import { navBar } from './widgets';

export default {
  name: 'NavigationBar',
  components: { NavigationBarElement },
  data() {
    return {
      navigationBarElements: navBar,
    };
  },
};

</script>

<style>
.link-list-frame{
    font-family: 'Radley', serif;
    font-weight: 900;
    font-size: 17px;
    margin:0;
    padding: 0px;
}

.link-list{
    list-style:none;
}

div ul li:hover{
    background: #EFA800;
    color: #000000;
}

.link-list-element{
    background: #a91900;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 0px;
    color: #000000;
    border: 3px;
    border-style:solid;
    border-color: #000000;
}

</style>
