<template>
    <a v-bind:href="element.href" v-bind:data-test-id="element.testId">
        <li class="link-list-element">
        {{element.title}}
        </li>
    </a>
</template>

<script>
export default {
  name: 'NavigationBarElement',
  props: ['element'],
};
</script>
