<template>
    <div class="content">
      <div class="divider"></div>
      <h2>
        {{post.title}}
      </h2>
      <i>
        {{getFormattedDate}}
      </i>
      <hr />

      <p>
        <span v-html="post.body"></span>
      </p>

    </div>
</template>

<script>
/* import CommentSection from './CommentSection.vue'; */

export default {
  name: 'Post',
  props: ['post'],
  computed: {
    getFormattedDate() {
      const date = new Date(this.post.date);
      return date.toDateString();
    },
  },
};
</script>
