<template>
    <a v-bind:href="element.trackId" target="_blank">
    <li class="track">
        <div class="divideTrackVertContainer">
                <img v-bind:src="element.thumbnailUrl" alt="No img" class="albumThumbnail">
                <div class="trackNameAuthorContainer">
                    {{element.name}} - {{element.artists}}
                </div>
        </div>
    </li>
    </a>
</template>
<script>
export default {
  name: 'Track',
  props: ['element'],
};
</script>

<style>
.musicListContainer{
    padding-left: 70px;
    padding-right: 70px;
}

ul{
    list-style-type: none;
}

#spotify{
    background: #1DB954;
    color: #FFFFFF;
}

#spotify:hover{
    background: #1DB954;
    color: #191414;
}

#soundcloud{
    background: #FE5000;
    color: #191414;
}

#soundcloud:hover{
    background: #FE5000;
    color: #FFFFFF;
}

.track{
    font-family: Radley;
    font-size: 20px;
    vertical-align: middle;
}

.track:hover{
    font-size: 25px;
    background: #9E9E9E;
    text-decoration:underline;
}

.albumThumbnail{
    padding: 20px;
    width: 100px;
    height: auto;
}

.divideTrackVertContainer{
    display: flex;
}

.trackNameAuthorContainer{
    height: auto;
    vertical-align: middle;
    padding-top: 40px;
}
</style>
