<template>

<component :is="currentView"></component>

</template>

<script>

import routes from '../routes';
import NotFound from './NotFound.vue';
import Landing from './Landing.vue';

export default {
  name: 'router-view',
  data() {
    return {
      currentView: Landing,
    };
  },
  created() {
    if (this.getRouteObject() === undefined) {
      this.currentView = NotFound;
    } else {
      this.currentView = this.getRouteObject();
    }
    /* console.log('Objeto Creado'); */
    /* this.currentView = this.getRouteObject(); */
  },
  methods: {
    getRouteObject() {
      const found = routes.find((route) => route.path === window.location.pathname);
      return found ? found.component : undefined;
    },
  },
};
</script>
