
@font-face{
    font-family: 'Circular';
    src: url('../../public/fonts/ProductSans-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radley';
    src: url('../../public/fonts/Radley-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #fffff1;
}

.subtitle{
    background:#0258ad;
    border-style: solid;
    border-width:3px;
    border-color:#000000;
    margin: 40px;
    width: max-content;
    padding-left : 10px;
    padding-right : 10px;
    font-family: 'Circular';
}

a {
    text-decoration: none;
    color: inherit;
}

.content{
    margin-left: 80px;
    margin-right: 80px; 
    font-family: 'Radley', arial;
}

.content p{
    font-size: 15px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.content h2 {
    font-family: Radley;
    font-size: 30;
}

