<template>
  <div id="app">
  <Header></Header>
  <NavigationBar></NavigationBar>
  <router-view></router-view>

  </div>
</template>

<script>
import NavigationBar from './components/NavigationBar.vue';
import Header from './components/Header.vue';
import View from './components/View.vue';

export default {
  name: 'App',
  components: {
    NavigationBar,
    Header,
    'router-view': View,
  },
};
</script>

<style>

@font-face {
    font-family:' Radley';
    src: url('../public/fonts/Radley-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

/* body{ */
    /* background: #fffff1; */
/* } */

</style>
